<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="bower_components/angularjs-datepicker/dist/angular-datepicker.min.css" />
  <link rel="stylesheet" href="bower_components/fullcalendar/dist/fullcalendar.css" />

  <!-- jquery, moment, and angular have to get included before fullcalendar -->
  <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="bower_components/moment/min/moment.min.js"></script>
  <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
  <script type="text/javascript" src="bower_components/angular-ui-calendar/src/calendar.js"></script>
  <script type="text/javascript" src="bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
  <script type="text/javascript" src="bower_components/fullcalendar/dist/gcal.js"></script>

  <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
  <link rel="stylesheet" href="assets/css/main.css" />
  <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
  <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
</head>

<body ng-app="numinousUiApp" ng-controller="AppCtrl" ui-router-styles>


<div id="wrapper">
  <!-- Main -->
  <div id="main">
    <div class="inner">
      <header id="header">

        <a ui-sref="home" class="logo"><img src="assets/img/item.png"><strong> Numinous</strong></a>
        <ul class="icons">
          <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
          <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
          <li><a href="#" class="icon fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>
          <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
          <li><a href="#" class="icon fa-medium"><span class="label">Medium</span></a></li>
        </ul>
      </header>

      <ui-view></ui-view>
    </div>
  </div>

  <!-- Sidebar -->
  <div id="sidebar">
    <div class="inner">

      <!-- Search -->
      <section id="search" class="alt">
        <form method="post" action="#">
          <input type="text" name="query" id="query" placeholder="Search" />
        </form>
      </section>

      <!-- Menu -->
      <nav id="menu" ng-if="!isAuthenticated()">
        <header class="major">
          <h2>Menu</h2>
        </header>
        <ul>
          <li><a ui-sref="home">Homepage</a></li>
          <li><a ui-sref="signup">SignUp</a></li>
          <li><a ui-sref="login">Login</a></li>
        </ul>
      </nav>

      <nav id="menu" ng-if="isAuthenticated()">
        <header class="major">
          <h2>Menu</h2>
        </header>
        <ul>
          <li><a ui-sref="dashboard">Dashboard</a></li>
          <li><a ui-sref="friend">Friends</a></li>
          <li>
            <span class="opener">Plan a Trip</span>
            <ul>
              <li><a ui-sref="schedule">Create</a></li> <!--schedule-->
              <li><a href="#">Modify</a></li> <!--list all trips with modify button-->
              <li><a ui-sref="googlePlace">Add Features</a></li> <!--google places to add details for events-->
            </ul>
          </li>
          <li>
            <span class="opener">Itinerary Options</span>
            <ul>
              <li><a href="#">List View</a></li>  <!--feature 1>-->
              <li><a ui-sref="calendar">Calendar View</a></li> <!--feature 2 -->
              <li><a ui-sref="googleDraw">Google Maps Draw</a></li> <!--feature 3 -->
            </ul>
          </li>
          <li><a ui-sref="directions">Directions and ETA</a></li>
        </ul>
      </nav>

      <!-- Section -->
      <section ng-show="isAuthenticated()">
        <header class="major">
          <h2>Ante interdum</h2>
        </header>
        <div class="mini-posts">
          <article>
            <a href="#" class="image"><img src="images/pic07.jpg" alt="" /></a>
            <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
          </article>
          <article>
            <a href="#" class="image"><img src="images/pic08.jpg" alt="" /></a>
            <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
          </article>
          <article>
            <a href="#" class="image"><img src="images/pic09.jpg" alt="" /></a>
            <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
          </article>
        </div>
        <ul class="actions">
          <li><a href="#" class="button">More</a></li>
        </ul>
      </section>

      <!-- Section -->
      <section>
        <header class="major">
          <h2>Get in touch</h2>
        </header>
        <p>Sed varius enim lorem ullamcorper dolore aliquam aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin sed aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
        <ul class="contact">
          <li class="fa-envelope-o"><a href="#">information@untitled.tld</a></li>
          <li class="fa-phone">(000) 000-0000</li>
          <li class="fa-home">1234 Somewhere Road #8254<br />
            Nashville, TN 00000-0000</li>
        </ul>
      </section>

      <!-- Footer -->
      <footer id="footer">
        <p class="copyright">&copy; Untitled. All rights reserved. Demo Images: <a href="https://unsplash.com">Unsplash</a>. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
      </footer>

    </div>
  </div>

</div>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
  !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
      (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
    r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
  }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-XXXXX-X');
  ga('send', 'pageview');
</script>

<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/angularjs-datepicker/dist/angular-datepicker.min.js"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="bower_components/angular-ui-router-styles/ui-router-styles.js"></script>
<script src="bower_components/auth0-lock/build/lock.js"></script>
<script src="bower_components/angular-lock/angular-lock.js"></script>
<script src="bower_components/angular-jwt/dist/angular-jwt.js"></script>
<script src="bower_components/fullcalendar/dist/fullcalendar.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<!-- endbower -->

<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/home.js"></script>
<script src="scripts/controllers/schedule.js"></script>
<script src="scripts/controllers/calendar.js"></script>
<script src="scripts/controllers/services.js"></script>
<script src="scripts/controllers/friends.js"></script>
<script src="scripts/controllers/auth_controllers.js"></script>
<script src="scripts/constants.js"></script>

</body>
</html>
