<div class="user-message">
  <div ng-repeat="notice in userNotificationsList" class="animate-alerts">
    <div ng-if="!notice.isHidden">
      <div ng-if="notice.status == 'Error'" class="alert alert-dismissable alert-danger">
        <i class="intelicon-close-solid animated infinite wobble"></i>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <b>ERROR:</b> {{notice.message}}
      </div>
      <!-- Warnings can contain HTML. Other notification types cant. This might be not great coding style. -->
      <div ng-if="notice.status == 'Warning'" class="alert alert-dismissable alert-warning">
        <i class="intelicon-alert-solid animated infinite rubberBand"></i>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <b>WARNING:</b> <span ng-bind-html="notice.message"></span>
      </div>
      <div ng-if="notice.status == 'Success'" class="alert alert-dismissable alert-success">
        <i class="intelicon-check animated infinite swing"></i>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>SUCCESS:</strong> {{notice.message}}
      </div>
    </div>
  </div>
</div>
