<!DOCTYPE html>
<html lang="en">

<meta name="viewport" content="width=device-width, initial-scale=1">

<body>
<!--    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <strong>Email: </strong>info@yourdomain.com
                    &nbsp;&nbsp;
                    <strong>Support: </strong>+90-897-678-44
                </div>

            </div>
        </div>
    </header>-->
    <!-- MENU SECTION END-->

        
    <form class="form-inline">
        <div class="text-center">
            <label>Name:</label>
            <input class="form-control" type="text" name="name">
        </div>
    </form>
    

    <form class="form-inline">
        <div class="text-center">
            <label>Email:</label>
            <input class="form-control" type="text" name="email">
        </div>
    </form>
    
    <form class="form-inline">
        <div class="text-center">
            <label>Username:</label>
            <input class="form-control" type="text" name="username">
        </div>
    </form>
    
    <form class="form-inline">
        <div class="text-center">
            <label>Password:</label>
            <input class="form-control" type="text" name="password">
        </div>
    </form>
    
    <form class="form-inline">
        <div class="text-center">
            <label>Confirm Password:</label>
            <input class="form-control" type="text" name="confirmpassword">
        </div>
    </form>
    
    <form class="form-inline">
        <div class="text-center">
            <input type="text" class="form-control" placeholder="Name" aria--label="name">
        </div>
    </form>
    
    <div class="text-center" role ="group" aria-label="...">
        <button type="button" class="btn btn-default">Sign Up!</button>
    </div>
    

  
        
    <!-- FOOTER SECTION END-->
    <!-- JAVASCRIPT AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
    <!-- CORE JQUERY SCRIPTS -->
    <script src="assets/js/jquery-1.11.1.js"></script>
    
    
    <!-- BOOTSTRAP SCRIPTS  -->
    <script src="assets/js/bootstrap.js"></script>
</body>
</html>