<!-- Banner -->
<section id="banner">
  <div class="content">
    <header>
      <h1>Welcome to<br />
        <img src="assets/img/logo.png"> </h1>
      <p>A collaborative travel itinerary application </p>
    </header>
    <p>Numinous aims to provide our users a simple method to generate upcoming trips and vacations. Our tool helps by organizing
      and displaying trip information in various views. We allow offer the ability to share and invite other users to any create trips.</p>
    <ul class="actions">
      <li><a ui-sref="signup" class="button big">Sign up!</a></li>
    </ul>
  </div>
  <span class="image object">
    <img src="images/main3.jpg" alt="" />
  </span>
</section>

<!-- Section -->
<section>
  <header class="major">
    <h2>Features</h2>
  </header>
  <div class="features">
    <article>
      <span class="icon fa-diamond"></span>
      <div class="content">
        <h3>AngularJS</h3>
        <p> AngularJS was chosen because it let us extend HTML vocabulary in our application. This resulted in creating an enironment
        that was readable, expressive, and quick to develop.</p>
      </div>
    </article>
    <article>
      <span class="icon fa-paper-plane"></span>
      <div class="content">
        <h3>SailsJS </h3>
        <p>Sails is a popular MVC framework used to develop Node.js applications. Sails helped us write our application entirely in Javascript. Other great features about Sails
        were: easy database connections, auto-generate REST APIs, and reusable security policies</p>
      </div>
    </article>
    <article>
      <span class="icon fa-rocket"></span>
      <div class="content">
        <h3>Google Map's API</h3>
        <p>Google's web APIs here used to incorporate rich mapping features that could provide accurate
        directions, as well as, useful information about an establishment. All the maps
        were customized to meet the basic requirements for a traveler.</p>
      </div>
    </article>
    <article>
      <span class="icon fa-signal"></span>
      <div class="content">
        <h3>OpenWeatherMap API</h3>
        <p> This API was simple and free to use. It offers our users current weather data for any location on Earth. Further development
        will incorporate 5day forecasting to help our travelers plan accordingly. </p>
      </div>
    </article>
  </div>
</section>

<!-- Section -->
<section>
  <header class="major">
    <h2>Meet the Team</h2>
  </header>
  <div class="posts">
    <article>
      <a href="#" class="image"><img src="images/edwin.png" alt="" /></a>
      <h3>Edwin Mak <br> Software Engineer</h3>
      <p>Project Lead and Backend Programmer</p>
      <ul class="actions">
      </ul>
    </article>
    <article>
      <a href="#" class="image"><img src="images/elaine1.png" alt="" /></a>
      <h3>Elaine Yu <br> Computer Engineer</h3>
      <p>Front-End UI Developer and Scrum Master</p>
      <ul class="actions">
      </ul>
    </article>
    <article>
      <a href="#" class="image"><img src="images/eevee.png" alt="" /></a>
      <h3>Yvonne Jacinto <br> Computer Engineer</h3>
      <p>Technical Lead and Front-End Developer</p>
      <ul class="actions">
      </ul>
    </article>
    <article>
      <a href="#" class="image"><img src="images/professor.png" alt="" /></a>
      <h3>Chao-Li Tarng <br> Professor/Advisor at SJSU</h3>
      <p>Advisor/Mentor for this senior project application </p>
      <ul class="actions">
      </ul>
    </article>
  </div>
</section>







