<!-- Banner -->
<section id="banner">
  <div class="content">
    <header>
      <h1>Welcome to<br />
        <img src="assets/img/logo.png"> </h1>
      <p>A collaborative travel itinerary application </p>
    </header>
    <p>Numinous aims to provide our users a simple method to generate upcoming trips and vacations. Our tool helps by organizing
      and displaying trip information in various views. We allow offer the ability to share and invite other users to any create trips.</p>
    <ul class="actions">
      <li><a ui-sref="signup" class="button big">Sign up!</a></li>
    </ul>
  </div>
  <span class="image object">
										<img src="images/pic10.jpg" alt="" />
									</span>
</section>

<!-- Section -->
<section>
  <header class="major">
    <h2>Features</h2>
  </header>
  <div class="features">
    <article>
      <span class="icon fa-diamond"></span>
      <div class="content">
        <h3>Google Map's API</h3>
        <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
      </div>
    </article>
    <article>
      <span class="icon fa-paper-plane"></span>
      <div class="content">
        <h3>Yelp's API</h3>
        <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
      </div>
    </article>
    <article>
      <span class="icon fa-rocket"></span>
      <div class="content">
        <h3>Social Platforms</h3>
        <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
      </div>
    </article>
    <article>
      <span class="icon fa-signal"></span>
      <div class="content">
        <h3>AngularJS</h3>
        <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
      </div>
    </article>
  </div>
</section>

<!-- Section -->
<section>
  <header class="major">
    <h2>Meet the Team</h2>
  </header>
  <div class="posts">
    <article>
      <a href="#" class="image"><img src="images/pic01.jpg" alt="" /></a>
      <h3>Edwin Mak <br> Software Engineer</h3>
      <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
      <ul class="actions">
        <!--<li><a href="#" class="button">More</a></li>-->
      </ul>
    </article>
    <article>
      <a href="#" class="image"><img src="images/pic02.jpg" alt="" /></a>
      <h3>Elaine Yu <br> Computer Engineer</h3>
      <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
      <ul class="actions">
      </ul>
    </article>
    <article>
      <a href="#" class="image"><img src="images/pic03.jpg" alt="" /></a>
      <h3>Yvonne Jacinto <br> Computer Engineer</h3>
      <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
      <ul class="actions">
      </ul>
    </article>
    <article>
      <a href="#" class="image"><img src="images/pic04.jpg" alt="" /></a>
      <h3>Professor Tarng <br> Senior Project Advisor</h3>
      <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
      <ul class="actions">
      </ul>
    </article>
  </div>
</section>







