<!DOCTYPE html>
<body>
<!--    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <strong>Email: </strong>info@yourdomain.com
                    &nbsp;&nbsp;
                    <strong>Support: </strong>+90-897-678-44
                </div>

            </div>
        </div>
    </header>-->
<!-- MENU SECTION END-->
<div class="content-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h4 class="page-head-line">Please Login To Enter </h4>
      </div>

    </div>
    <div class="row">
      <div class="col-md-6">
        <a ui-sref="signup" class="btn btn-primary"><span class="glyphicon glyphicon-thumbs-up"></span> &nbsp;Sign Up </a>
        <hr />
        <div ng-controller = LoginCtrl>
          <form name = loginForm class="form-horizontal">
            <h4> Or Login to your <strong>Numinous Account :</strong></h4>
            <label>Enter Email ID : </label>
            <input type="text" class="form-control" name="email" placeholder="email" ng-model="user.email" required />
            <label>Enter Password :  </label>
            <input type="password" class="form-control" name="password" placeholder="Password" ng-model="user.password" required />
            <hr />
            <button type="submit" class="btn btn-primary" ng-click="login()" >Submit</button>
          </form>
        </div>
      </div>
      <div class="col-md-6">
        <div class="alert alert-info">
          Numinous is a collaborative web application that help users organize and share the upcoming trip. Used to plan individual or group trips, Numinous offers our users customizable views.

        </div>
        <div class="alert alert-success">
          <strong> Instructions To Use:</strong>
          <ul>
            <li>
              If you don't have an account, sign up!
            </li>
            <li>
              Log into your account with your email and password
            </li>
            <li>
              Begin creating your next trip :)!
            </li>
          </ul>

        </div>
      </div>

    </div>
  </div>
</div>

<!-- FOOTER SECTION END-->
<!-- JAVASCRIPT AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
<!-- CORE JQUERY SCRIPTS -->
<script src="assets/js/jquery-1.11.1.js"></script>
<!-- BOOTSTRAP SCRIPTS  -->
<script src="assets/js/bootstrap.js"></script>
</body>
</html>
