<style>
  button.close {
   /* height: 5px;*/
    visibility: hidden;
  }
</style>

<section>
  <div ng-controller = LoginCtrl>
    <br>
    <div uib-alert ng-if="show" style="font-size: smaller" ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert()">
      {{alert.msg}}
    </div>

    <form name = loginForm class="form-horizontal">
      <header class="main">
        <h2>Login - Returning User</h2>
      </header>

      <label> Enter Email ID : </label>
      <input type="text" class="form-control" name="email" placeholder="Email" ng-model="user.email" required />
      <br>
      <label>Enter Password :  </label>
      <input type="password" class="form-control" name="password" placeholder="Password" ng-model="user.password" required />

      <br>
      <div style="text-align: center">
        <button type="submit" class="btn" ng-click="login()" >Submit</button>
      </div>

    </form>
  </div>

  <hr class="major"/>
</section>


