<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <link href="../../bower_components/angularjs-datepicker/src/css/angular-datepicker.css" rel="stylesheet" type="text/css" />
    <script src="../../bower_components/angularjs-datepicker/src/js/angular-datepicker.js"></script>
</head>


<body ng-app="numinousUiApp">


    <form class="form-inline">
        <div class="text-center">
            <label>Title of Event:</label>
            <input class="form-control" type="text" name="eventname">
        </div>
    </form>

    <form class="form-inline">
        <div class="text-center">
          <label>Date of Event:</label>
          <datepicker>
              <input ng-model="date" type="text"/>
            </datepicker>
        </div>
    </form>

    <form class="form-inline">
        <div class="text-center">
            <label>Starting Time:</label>
            <input class="form-control" type="text" name="starttime">
        </div>
    </form>

    <form class="form-inline">
        <div class="text-center">
            <label>Ending Time:</label>
            <input class="form-control" type="text" name="endtime">
        </div>
    </form>



    <!-- FOOTER SECTION END-->
    <!-- JAVASCRIPT AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
    <!-- CORE JQUERY SCRIPTS -->
    <!-- BOOTSTRAP SCRIPTS  -->
    <!--<script src="assets/js/bootstrap.js"></script>-->
</body>
</html>
