<!DOCTYPE html>
<body>
<!--    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <strong>Email: </strong>info@yourdomain.com
                    &nbsp;&nbsp;
                    <strong>Support: </strong>+90-897-678-44
                </div>

            </div>
        </div>
    </header>-->
<!-- MENU SECTION END-->
<div class="content-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="page-head-line">Create an Account </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            NEW MEMBER FORM
          </div>
          <div class="panel-body">
            <form>
              <div class="form-group col-md-12">
                <div class="col-md-6">
                  <label for="exampleInputEmail1">First Name</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" placeholder="First Name" />
                </div>
                <div class="col-md-6">
                  <label for="exampleInputEmail1">Last Name</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Last Name" />
                </div>
              </div>
              <div class="form-group col-md-12">
                <div class="col-md-6">
                  <label for="exampleInputEmail1">Email Address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" />
                </div>
                <div class="col-md-6">
                  <label for="exampleInputEmail1">Confirm Email Address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Confirm email" />
                </div>
              </div>
              <div class="form-group col-md-12">
                <div class="col-md-6">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" />
                </div>
              </div>
              <div class="form-group col-md-12">
                <div style="text-align: center">
                  <button type="submit" class="btn btn-primary">Submit</button>
                  <a ui-sref="login" class="btn btn-danger"> Cancel </a>
                </div>
              </div>
              <hr />
            </form>
          </div>
        </div>
      </div>
      <!--<div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            OTHER  FORM ELEMENTS
          </div>
          <div class="panel-body">
            <form role="form">
              <div class="form-group has-success">
                <label class="control-label" for="success">SUCCESS EXAMPLE</label>
                <input type="text" class="form-control" id="success" />
              </div>
              <div class="form-group has-warning">
                <label class="control-label" for="warning">WARNING EXAMPLE</label>
                <input type="text" class="form-control" id="warning" />
              </div>
              <div class="form-group has-error">
                <label class="control-label" for="error">ERROR EXAMPLE</label>
                <input type="text" class="form-control" id="error" />
              </div>
            </form>
            <hr />
            <div class="form-group">
              <label>Select Example</label>
              <select class="form-control">
                <option>One Vale</option>
                <option>Two Vale</option>
                <option>Three Vale</option>
                <option>Four Vale</option>
              </select>
            </div>
            <hr />
            <div class="form-group">
              <label>Multiple Select Example</label>
              <select multiple="" class="form-control">
                <option>One Vale</option>
                <option>Two Vale</option>
                <option>Three Vale</option>
                <option>Four Vale</option>
              </select>
            </div>
            <hr />
            For more customization for this template or its components please
            visit official bootstrap website i.e <strong> getbootstrap.com </strong> or
            <a href="http://getbootstrap.com/css/#forms" target="_blank">click here</a>

          </div>
        </div>
      </div>-->
    </div>
  </div>
</div>

<!-- FOOTER SECTION END-->
<!-- JAVASCRIPT AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
<!-- CORE JQUERY SCRIPTS -->
<script src="assets/js/jquery-1.11.1.js"></script>
<!-- BOOTSTRAP SCRIPTS  -->
<script src="assets/js/bootstrap.js"></script>
</body>
</html>




